<!DOCTYPE html>
<html>
  <head>
    <title>Elastic Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag('logo.svg', alt: 'Logo') %>
      </div>
      <nav class="menu">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Search', search_prompts_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p class="footer-text">CG Trader</p>
    </footer>
  </body>
</html>